/* Homepage.css */
.image-pic img {
    background-image: url('../images/93b29ddf5b03dd96f036413114c3f8e9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    width: 100%;
}

.image-pic img:hover{
    background-color: darkgray;
}
  /* .image-pic {
    
    background-size: cover;
    background-position: center;
    
    height: 500px; 
   } */